<!DOCTYPE html>
<html>

  {% include head.html %}

  <!-- font-smoothing is only applied on dark themes -->
  <body class="font-smoothing">

    {% include header.html %}

    <div>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7876600506924617"
     crossorigin="anonymous"></script>
<!-- Fix Top Header Ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7876600506924617"
     data-ad-slot="7914063085"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      <br>
      
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
